<mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
<section class="pt-3"> 
  <table mat-table [dataSource]="productList">
    <ng-container matColumnDef="products">
      <th *matHeaderCellDef >
        <div class="margin-x ">
          <div class="row">
            <div class="col-12 col-md-5 mb-3">
              <p class="fs-3 text-primary pt-2">
                Listagem de Produtos
              </p>
            </div>

            <div class="col-12 col-md-2 mb-2">
              <button type="button" class="btn btn-primary w-100 text-nowrap" routerLink="cadastrar">
                <i class="bi bi-plus-circle me-1"></i> Cadastrar Produto
              </button>
            </div>

            <div class=" col-12 col-md-2 mb-2">
              <select id="filterSelect" class="form-select text-center pointer" aria-label="Default select example">
                <option selected (click)="selectFilterCategory(0)">Filtrar por categoria</option>
                <option *ngFor="let category of productCategoriesList" (click)="selectFilterCategory(category.id)">{{category.name}}</option>
              </select>
            </div>

            <div class="col-12 col-md-3 mb-2">
              <div class="input-group w-100">
                <input type="text" class="form-control" placeholder="Digite nome do produto ..." aria-label="Digite nome do produto" aria-describedby="btn-search">
                <button class="btn btn-primary" type="button" id="btn-search">Buscar</button>
              </div>
            </div>
          </div>
        </div>
      </th>
      
      <td mat-cell *matCellDef="let element">
        <section class="bg-element rounded my-2">
          <div class="row align-items-center py-3">
            <div class="col-12 col-md-5 px-5 mb-1">
              <p class="fw-bold fs-3 py-2 lh-1">{{element.description}}</p>
              <p class="fs-6"><span class="fw-bold">COD:</span> {{element.id}} | <span class="fw-bold">Categoria:</span> {{element.category}}</p>
            </div>

            <div class="col-12 col-md-4 px-5">
              <p class="fs-6">
                <span class="fw-bold">Data da Compra:</span> {{element.buy_date | date:'dd/MM/yyyy'}}
              </p>
              <p class="d-flex lh-sm fw-bold fs-6 mt-2">Preço: <span class="fw-bold fs-4 ms-2">R$ {{getDecimalNumber(element.price)}}</span> </p>
            </div>

            <div class="col-12 col-md-3 px-5 py-2  mt-1">
              <div class="row align-items-center">
                <div class="col-6 pe-2">
                  <button type="button" class="btn btn-primary ps-2 w-100" (click)="editProduct(element.id)">
                    <i class="bi bi-pencil-fill pe-1"></i> Editar </button>
                </div>
                <div class="col-6 ps-2">
                  <button type="button" class="btn btn-danger ps-2 w-100" (click)="openExcludeModal(content, element)">
                    <i class="bi bi-trash-fill pe-1"></i> Excluir </button>
                </div>
              </div>
            </div>
          </div>
        </section> 
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="w-100 px-4" [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="setPageSizeOptions($event)"></mat-paginator>
</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-blue">
    <h5 class="modal-title fw-bold fs-5 text-light pt-3 ps-2" id="modal-basic-title">Deseja realmente excluir o produto?</h5>
  </div>
  <div class="modal-body ms-2">
      <p class="fs-6">
          <span class="fw-bold">Descrição</span> {{productToExclude.description}} <br>
          <span class="fw-bold">Data de Compra</span> {{productToExclude.buy_date | date:'dd/MM/yyyy'}} <br>
          <span class="fw-bold">Preço</span> R$ {{productToExclude.price}} <br>
          <span class="fw-bold">Categoria</span> {{productToExclude.category}} <br>
      </p>
  </div>
  <div class="modal-footer">
      <button type="button"  class="btn btn-primary text-light me-2" (click)="c('Save click')" tabindex="-1">
        <i class="bi bi-hand-thumbs-down-fill"></i> Não
      </button>
      <button type="button"  class="btn btn-danger me-2" (click)="c(['Save click', deleteProduct()])" tabindex="-1">
        <i class="bi bi-hand-thumbs-up-fill"></i> Sim
      </button>
  </div>
</ng-template>
