<mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
<section>
  <p class="px-4 mt-3">
    <a routerLink="../">Lista de Produtos</a> > <a>{{pageName}}</a>
  </p>

  <fieldset class="m-4 scheduler-border bg-element">
    <legend class="fw-bold mt-1 text-primary">
      <p class="mt-4 ms-3">{{pageName}}</p>
    </legend>
    <form class="row g-2 mx-2 mb-3 was-validated" (submit)="sendProduct()">
      <div class="col-md-6 px-3">
        <label for="validationServer01" class="form-label">Descrição do Produto</label>
        <input type="text" class="form-control" id="validationDescription" placeholder="Digite a descrição do produto..." required>
        <div class="invalid-feedback">
          Digite a descrição produto!
        </div>
        <div class="valid-feedback">
          Descrição do produto parece ok!
        </div>
      </div>
    
      <div class="col-md-3 px-3">
        <label for="validationServer02" class="form-label">Data da Compra</label>
        <input type="date" class="form-control pointer" id="validationDate" required>
        <div class="invalid-feedback">
          Selecione a data da compra!
        </div>
        <div class="valid-feedback">
          Data da compra parece ok!
        </div>
      </div>
    
      <div class="col-md-3 px-3">
        <label for="validationServer03" class="form-label">Preço do Produto R$</label>
        <input type="number" step=".01" class="form-control" id="validationPrice"  placeholder="Digite o preço do produto..."  required>
        <div class="invalid-feedback">
          Digite o preço do produto!
        </div>
        <div class="valid-feedback">
          Preço do produto parece ok!
        </div>
      </div>
    
      <div class="col-md-4 px-3">
        <label for="validationServer04" class="form-label">Categoria do Produto</label>
        <select class="form-select form-control pointer" id="validationCategory" required>
          <option *ngIf="!isEdit" value="" selected disabled >Selecione a categoria</option>
          <option *ngIf="isEdit" selected disabled value="categoryId"  >{{category}}</option>
          <option id="optionElement" *ngFor="let category of categoriesList" (value)="category.id">{{category.name}}</option>
        </select>
        <div class="invalid-feedback">
          Selecione a categoria do produto!
        </div>
        <div class="valid-feedback">
          Categoria do produto parece ok!
        </div>
      </div>    
      
      <div class="col"></div>

      <div class="col-md-3 px-3 h-100 text-end align-self-center">
        <button *ngIf="!isEdit" class="btn btn-primary w-100" type="submit"> <i class="bi bi-plus-circle me-2"></i> Cadastrar</button>
        <button *ngIf="isEdit" class="btn btn-primary w-100" type="submit"> <i class="bi bi-check-square me-2"></i> Salvar</button>
      </div>
    </form>
  </fieldset>
</section>