table {
    width: 100%;
}

.bg-element{
    background-color: #E0E0E0;
}

.margin-x{
    margin-left: 2rem;
    margin-right: 2rem;
}

td.mat-cell {
    border-bottom-style: none;
}

td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

p {
    margin: 0 !important;
}

select {
    cursor: pointer;
    background-image: 
        linear-gradient(45deg, transparent 50%, white 60%),
        linear-gradient(135deg, white 40%, transparent 50%) !important;
    background-position:
        calc(100% - 19px) 14px,
        calc(100% - 11px) 14px,
        100% 0;
    background-size:
        8px 8px,
        8px 8px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;;
}